---
import "../styles/reset.css";
import "@fontsource/metropolis";
export interface Props {
    title: string;
}

const { title } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <!-- <link rel="icon" type="image/x-icon" href="/favicon.ico" /> -->
    <title>{title}</title>
</head>

<body>
    <div class="container">
        <slot />
    </div>
</body>

</html>
<style>
    :root {}

    html {
        font-family: 'Metropolis', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    body {}

    .container {
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
        padding: 0 8px;
    }
</style>